@import "tailwindcss";

@font-face {
  font-family: 'Open Sans';
  src: url('https://fonts.gstatic.com/s/opensans/v40/memSYaGs76AUhsKKSZl3WAVGfOolatmVjA.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('https://fonts.gstatic.com/s/opensans/v40/memSYaGs76AUhsKKSZl3WAVGfOolatmVjA.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

:root {
  --yivi-red: #E12747;
  --yivi-anthracite: #484747;
  --yivi-link-blue: #00508a;
  --yivi-green: #00973a;
  --yivi-light-blue: #CFE4EF;
  --yivi-bg: #F7F5F3;
  --yivi-white: #FFFFFF;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--yivi-bg);
  font-family: 'Open Sans', Verdana, Arial, sans-serif;
  color: var(--yivi-anthracite);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}
